@use "sass:color";
@use '@/flavours/glitch/styles/variables' with (
// Commonly used web colors
$black: #030409,              // Black
$white: #fafbff,              // White
$blurple-600: #8d0b87,        // Dark pink - replaces Iris
$blurple-500: #bd28b6,        // Hex pink - replaces Brand purple
$blurple-400: #cf30c7,        // Medium pink - replaces Medium slate blue
$blurple-300: #c55cc0,        // Faded pink - replaces Faded Blue
$grey-600: #4e4c5a,           // Trout
$grey-100: #dadaf3,           // Topaz
$gold-star: #f9a806,          // Dark Goldenrod

// Values from the classic Mastodon UI
$classic-base-color: #22232b,         // Midnight Express
$classic-primary-color: #6c7193,      // Echo Blue
$classic-secondary-color: #d4d8e9,    // Pattens Blue

// Replace button secondary colors with shades of grey
// (have to hardcode because the config map can't reference itself)
$ui-button-secondary-color: #dadaf3,
$ui-button-secondary-border-color: #dadaf3,
$ui-button-secondary-focus-border-color: #9a97ac,
$ui-button-secondary-focus-color: #9a97ac,

$ui-button-icon-hover-background-color: rgba(255, 138, 250, 40%),

$font-sans-serif: 'Commissioner',
$font-display: 'Texturina',
$font-monospace: 'DM Mono',
);

// @use '@/flavours/glitch/styles/css_variables' with 
// :root {
//   --dropdown-border-color: #{color.adjust($ui-base-color, $lightness: 12%)};
//   --dropdown-background-color: #{color.adjust($ui-base-color, $lightness: 4%)};
//   --dropdown-shadow: 0 20px 25px -5px #{rgba($base-shadow-color, 0.25)},
//     0 8px 10px -6px #{rgba($base-shadow-color, 0.25)};
//   --modal-background-color: #{color.adjust($ui-base-color, $lightness: -4%)};
//   --modal-background-variant-color: #{rgba($ui-base-color, 0.7)};
//   --modal-border-color: #{color.adjust($ui-base-color, $lightness: 4%)};
//   --background-border-color: #{color.adjust($ui-base-color, $lightness: 4%)};
//   --background-filter: blur(10px) saturate(180%) contrast(75%) brightness(70%);
//   --background-color: #{color.adjust($ui-base-color, $lightness: -8%)};
//   --background-color-tint: #{rgba(color.adjust($ui-base-color, $lightness: -8%), 0.9)};
//   --surface-background-color: #{color.adjust($ui-base-color, $lightness: -4%)};
//   --surface-variant-background-color: #{$ui-base-color};
//   --surface-variant-active-background-color: #{color.adjust($ui-base-color, $lightness: 4%)};
//   --on-surface-color: #{color.adjust($ui-base-color, $alpha: -0.5)};
//   --avatar-border-radius: 8px;
//   --media-outline-color: #{rgba(#fcf8ff, 0.15)};
//   --overlay-icon-shadow: drop-shadow(0 0 8px #{rgba($base-shadow-color, 0.25)});
//   --error-background-color: #{color.adjust($error-red, $lightness: -16%)};
//   --error-active-background-color: #{color.adjust($error-red, $lightness: -12%)};
//   --on-error-color: #fff;
// }
